.project__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.project__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.project__item h3{
    margin: 1.2rem 0 2rem;
}

.project__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.project__item-content{
    display: flex;
    flex-wrap: wrap;
}

/* ============== Media Queries (Medium devices) ============*/

@media screen and (max-width :1024px){
    .project__container{
        grid-template-columns:1fr 1fr;
        gap: 1.2rem;
    }
}

/* ============== Media Queries (Small devices) ============*/

@media screen and (max-width :600px){
    .project__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}